@import './components/_all_components.css';
@import './styles/_all_variables.css';


/*------  RESET CSS  -----*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: whitesmoke;

    font-weight: 900;
    text-transform: uppercase;
    font-size: 21px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

main {
    background-color: white;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-inline: 1px solid black;

    font-weight: 900;
    text-transform: uppercase;
    font-size: 21px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     letter-spacing: 2px;
}

