/* ---- Tout ce qui concerne les boutons ----*/

/* -------------------------------------------------
# BLOCK : Le Bouton de Base
------------------------------------------------- */
.btn {
    /* Structure & alignement */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--btn-padding-y, 0.5rem) var(--btn-padding-x, 1rem);
    /* le btn est par défaut en md (medium) si aucune variable n'est déclarée ailleurs. .btn--sm appliquera ses variables et non celle md. */
    font-size: var(--btn-font-size, 1rem);
    /* le btn est par défaut en md (medium) si aucune variable n'est déclarée ailleurs. .btn--sm appliquera ses variables et non celle md. */
    /* padding: 0.3rem 0.7rem; */

    /* Apparence par défaut */
    border: 1px solid black;
    border-radius: var(--radius-md);
    font-size: 10px;
    white-space: nowrap;
    cursor: pointer;
    /* transition: var(--transition-slow) ; */
    /* transition: background-color 0.3s ease, outline 0.3s ease; */
}


/* -------------------------------------------------
# MODIFIERS
------------------------------------------------- */
.btn--sm {
    --btn-padding-y: 0.25rem;
    --btn-padding-x: 0.50rem;
    --btn-font-size: 0.875rem;
}

/* .btn--md {
  --btn-padding-y: 0.5rem;
  --btn-padding-x: 1rem;
  --btn-font-size: 1rem;
} */

.btn--lg {
    --btn-padding-y: 0.75rem;
    --btn-padding-x: 1.50rem;
    --btn-font-size: 1.25rem;
}

.btn__login {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn__signup {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}