:root {

    /* -----   BORDER RADIUS  ----- */
    --radius-sm: 2px;
    --radius-md: 4px;
    --radius-lg: 6px;
    --radius-xl: 8px;
    --radius-full: 50px;


    /* -----   GAP  ----- */
    --gap-sm: 0.2rem;
    --gap-md: 0.4rem;
    --gap-lg: 0.6rem;
    --gap-xl: 0.8rem;
}